.drawer-container {
	display: flex;
	flex-direction: column;
	// gap: 16px;
}

.buttons {
	display: flex;
	align-items: center;
	gap: 16px;
}

button.skinz-button {
	position: fixed;
	bottom: 72px;
	right: 16px;
}

.table-container {
	padding: 0 16px;
}
