.drawer-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.table-container {
  padding: 0 16px;
  display: flex;
  gap: 16px;
  flex-direction: column;
}
