.winners-container {
	display: grid;
	grid-template-rows: repeat(4, auto);
	gap: 16px;
	@media (min-width: 650px) {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: auto;
		.winner {
			&:last-child {
				grid-column: span 2;
			}
		}
	}
	@media (min-width: 997px) {
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);
		.winner {
			&:nth-child(-n + 3) {
				grid-column: span 2;
			}

			&:nth-child(n + 4) {
				grid-column: span 3;
			}
		}
	}
}

.winner {
	padding: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 8px;

	h2 {
		margin: 0;
	}
	span {
		font-weight: 700;
	}
}

.results-container {
	display: flex;
	flex-direction: column;
	gap: 32px;
}
